.pass_show{position: relative} 

.pass_show .ptxt { 
position: absolute; 
top: 50%; 
right: 10px; 
z-index: 1; 
color: #1da003cb; 
margin-top: -10px; 
cursor: pointer; 
transition:all .4s ease-in-out
} 

.pass_show .ptxt:hover{color: #333333;} 